li{
    cursor: pointer;
}

.cal-type-light, .cal-type-dark{
    font-size: 20px;
    font-weight: 200;
    z-index: 1000000;
}

.cal-type-light{
    color: var(--lt);
}

.cal-type-dark{
    color: var(--dt);
}

.menu-btn-light, .menu-btn-dark{
    height: 5px;
    transition: all ease 0.3s;
    border-radius: 12px;
    width: 40px;
    position: relative;
    cursor: pointer;
    z-index: 10000000;
}

.menu-btn-light::before, .menu-btn-dark::before{
    content: "";
    height: 5px;
    border-radius: 12px;
    width: 30px;
    position: absolute;
    top: -10px;
    transform: translateX(10px);
}

.menu-btn-light::after, .menu-btn-dark::after{
    content: "";
    height: 5px;
    border-radius: 12px;
    width: 30px;
    position: absolute;
    top: 10px;
}

.menu-btn-light ,.menu-btn-light::before, .menu-btn-light::after{
    background-color: var(--lt);
}

.menu-btn-dark, .menu-btn-dark::before, .menu-btn-dark::after{
    background-color: var(--dt);
}

.menu-btn-light.open{
    background-color: var(--dt);
    width: 5px;
    transform: rotate(50deg) translate(-10px);
}

.menu-btn-dark.open{
    background-color: var(--lt);
    width: 5px;
    transform: rotate(50deg) translate(-10px);
}

.menu-btn-light.open::before{
    background-color: var(--dt);
    transform: translateY(10px);
}

.menu-btn-dark.open::before{
    background-color: var(--lt);
    transform: translateY(10px);
}

.menu-btn-light.open::after{
    width: 30px;
    background-color: var(--dt);
    transform: rotate(84deg) translate(-10px);
}

.menu-btn-dark.open::after{
    width: 30px;
    background-color: var(--lt);
    transform: rotate(84deg) translate(-10px);
}

.menu-btn-dark.open + .cal-type-dark{
    color: var(--lt);
}



.help-btn-light, .help-btn-dark{
    border: none;
    border-radius: 50%;
    align-self: center;
    height: 30px;
    width: 30px;
    padding:1px 2px;
    font-weight: bold;
    font-size: 20px;
}

.help-btn-light{
    background-color: var(--lt);
    color: var(--dt);
    transition: all ease 0.5s;
}

.help-btn-light:hover{
    background-color: var(--dt);
    color: var(--lt);
}

.help-btn-dark{
    background-color:rgba(253, 253, 253, 0.288);
    color: rgb(43, 43, 43);
    transition: all ease 0.5s;
}

.help-btn-dark:hover{
    background-color: var(--lt);
    color: var(--dt);
}

.sliding-menu{
    z-index: 100;
    display: flex;
    height: 100vh;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    transform: translate(-300px) scale(0);
    transition: all ease 0.5s;
}

.sliding-menu.open{
    transform: translate(0) scale(1);
}

.sliding-menu-light{
    background-color:rgb(32, 31, 31);
}

.sliding-menu-light li{
    color: var(--dt);
    font-size: 24px;
    font-weight: bolder;
}

.sliding-menu-dark{
    background-color: var(--dt);
    opacity: 0.65;
}

.sliding-menu-dark li{
    color: var(--lt);
    font-size: 24px;
    font-weight: bolder;
}

@media screen and (max-width:700px){
    .sliding-menu-light, .sliding-menu-dark{
        min-height: 100vh;
        min-width: 100vw;
    }
}